<!DOCTYPE html>
<html>
    <link rel=stylesheet href= '/assets/styles.css' type='text/css'>
 
    <head>
        <style>
        
        </style>
    </head>
    <h1>contact us!</h1>
    <p>thanks for getting in touch</p>
    <p>u contacted <%= data.who %> from <%=data.department%> department</p>
    <p>we will reply with <%= data.email%></p>
    
</html>